@page "/not-found"
@layout MainLayout
@inherits StreamContextBase

<div class="nmac-not-found">
  <div class="nmac-not-found-card">
    <div class="nmac-not-found-icon">404</div>
    <h1 class="title is-4">Not Found</h1>
    <p class="nmac-not-found-message">Sorry, the content you're looking for doesn't exist.</p>
    <a class="button is-link has-text-weight-semibold" href="@WithCurrentTheme("/")">Back to Streams</a>
  </div>
</div>